#detail-contents {
  padding: 1rem;
  display: flex;
}
#detail-contents h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

#comments-area {
  width: 100%;
}
#comments-area li {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
  border: solid 1px lightblue;
  border-radius: 5px;
}
#submit-area {
  width: 100%;
}

#submit-form {
  display: block;
}
#submit-form textarea {
  resize: none;
  width: 100%;
  height: 50vh;
  margin-top: 1rem;
  border-radius: 5px;
}
#submit-form button {
  float: right;
  padding: 0.5rem 1rem;
}
